<!DOCTYPE html>
<html>
<head>
  <title>Python Flask/Compose grandtour PostgreSQL application</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/static/style.css" type="text/css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js" type="text/javascript"></script>
  <script src="{{ url_for('static',filename='main.js') }}" type="text/javascript"></script>
</head>

 <body>
<form id="add-word" >
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Login Screen For Test</h1>
			</div>

			<div class="login-form">
				<div class="control-group">
				<input type="text" class="login-field"  placeholder="username" name="word">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>

				<div class="control-group">
				<input type="text" class="login-field"  placeholder="Email" name="definition">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>

                <input type="submit" value="Add" class="btn btn-primary btn-large btn-block" >
			    <br>
			</div>
		</div>
	</div>
</form>

</body>

</html>
